/** @format */

.admin {
  padding: 24px 100px;
  display: flex;
  gap: 100px;
  flex-direction: column;
}

.admin > img {
  width: 149px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.header {
  display: flex;
  width: -webkit-fill-available;
  justify-content: space-between;
  align-items: center;
}

.header h2 {
  font-size: 36px;
  font-weight: 700;
  color: hsla(293, 78%, 31%, 1);
  margin: 0;
  font-family: "Inter";
}

.copy {
  padding: 8px 12px;
  background-color: hsla(293, 78%, 31%, 1);
  border-radius: 8px;
  display: flex;
  align-self: center;
  gap: 10px;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 600;
  color: white;
}

.table {
  border-radius: 16px;
  border: 1px solid hsla(218, 17%, 91%, 1);
}

.tableRow {
  background-color: hsla(218, 20%, 98%, 1);
  padding: 12px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
