/** @format */

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/*Transitions*/
.transition-container {
  transition: opacity 0.4s ease-in-out;
}

.uppist {
  width: 149px;
  height: 43px;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}

.testimonials {
  display: grid;
  place-items: center;
  gap: 40px;
  margin-top: 100px;
  font-size: 48px;
  font-weight: 700;
  font-family: "Inter";
  color: hsla(293, 78%, 31%, 1);
}

.slick-arrow.slick-prev {
  display: none !important;
}

.slick-arrow.slick-next {
  display: none !important;
}

.reviewpart {
  width: 100%;
  overflow: hidden;
}

.businessowner {
  width: 400px !important;
  padding: 24px;
  border-radius: 24px;
  padding-bottom: 0px;
  background-color: hsla(0, 0%, 100%, 1);
  box-shadow: 0px 5px 7px hsla(0, 0%, 0%, 0.04);
}

.dataname {
  font-size: 14px;
  color: hsla(0, 0%, 73%, 1);
  font-weight: 400;
  font-family: "Open Sans";
}

.slick-slide {
  box-sizing: border-box;
  width: 400px;
}

.slick-list {
  height: 290px;
}

.slick-track {
  display: flex !important;
  gap: 50px;
  width: 0px !important;
}

.imageowner {
  width: 64px;
  height: 64px;
  margin-top: 50px;
  border-radius: 64px;
}

.name {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 10px;
  top: -75px;
  left: 85px;
  gap: 4px;
  font-size: 14px;
  font-family: "Inter";
  font-weight: 400;
  width: 320px;
  color: hsla(180, 23%, 15%, 0.65);
}

.testimony {
  font-size: 14px;
  color: hsla(0, 0%, 17%, 1);
  font-family: "Source Sans 3";
}

.datareview {
  font-size: 24px;
  display: block;
  font-weight: 600;
  line-height: 24px;
  font-family: "Open Sans";
  color: hsla(0, 0%, 0%, 1);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter";
}

body::-webkit-scrollbar {
  display: none;
}

.firstsection {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: white;
  box-shadow: 0px 5px 7px hsla(0, 0%, 0%, 0.04);
}

a {
  text-decoration: none;
}

/*Nav bar styling*/
.nav a {
  color: hsla(0, 0%, 17%, 1);
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: hsla(0, 0%, 17%, 1);
  font-size: 18px;
  font-weight: 600;
  font-family: "Inter";
  padding: 8px 100px;
}

.nav-ul {
  display: flex;
  list-style: none;
  gap: 32px;
  overflow: hidden;
  align-items: center;
}

.company-svg {
  rotate: 90deg;
}

.list,
.sidebar-list {
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.company-menu {
  position: relative; /* Parent is now the reference for absolute positioning */
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.dropdown-company {
  position: absolute;
  top: 100%;
  background-color: white;
  z-index: 10;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 8px;
  border-radius: 8px;
  width: 250px;
  margin-left: 50px;
  margin-top: -15px;
}

.dropdown-company ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.dropdown-company li {
  padding: 12px 24px;
  cursor: pointer;
  border-bottom: 2px solid hsla(0, 0%, 94%, 0.5);
  font-size: 20px;
  font-family: "Source Sans 3";
  font-weight: 400;
}

.list:hover {
  border-bottom: 3px solid hsla(34, 94%, 54%, 1);
  border-radius: 3px;
  cursor: pointer;
}

.contact-nav,
.submit,
.sidebar-contact {
  padding: 16px 24px;
  background-color: hsla(293, 53%, 34%, 1);
  border-radius: 8px;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
}

.list-menu {
  display: none;
}

.side-bar {
  display: none;
}

/* About section styling*/

.aboutsection {
  background: url("../src/assets/desktop/circle2.png") no-repeat;
  background-position-y: 516px;
  background-position-x: right;
  margin-top: 105px;
}

.hero-section {
  background: url("../src/assets/desktop/circle.png") no-repeat;
  background-position-y: 100px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  padding: 0px 0px 0px 40px;
}

.hero2 {
  display: none;
}

.img-text {
  display: flex;
  justify-content: center;
  gap: 48px;
  font-weight: 500;
  font-family: Inter;
  font-size: 20px;
  color: #1d2f2fcc;
  flex-direction: column;
}

.img-text h2 {
  color: hsla(293, 78%, 31%, 1);
  font-size: 45px;
  font-weight: 700;
  margin: 0;
}

.img-text button,
.empower span {
  cursor: pointer;
  padding: 18px 20px;
  background: hsla(34, 94%, 54%, 1);
  color: white;
  width: 200px;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 0;
  font-family: "Inter";
}

.submit {
  border: 0;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
}

.img-text span a,
.stun-text span a {
  display: flex;
  align-items: center;
  gap: 16px;
  color: white;
}

.img-text p {
  font-family: "Source Sans 3";
  width: 559px;
}

.contact-svg {
  color: white;
}

.about-detail {
  padding: 0px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  background-color: hsla(15, 100%, 97%, 1);
}

.values {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  max-width: 500px;
}

.aboutus {
  display: flex;
  margin-top: 110px;
  gap: 65px;
  flex-direction: column;
  align-items: center;
}

.mission,
.vision {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.mission span,
.vision span {
  color: hsla(293, 78%, 31%, 1);
  font-size: 48px;
  font-weight: 700;
}

.mission p,
.vision p {
  margin: 0;
  font-size: 24px;
  font-family: "Source Sans 3";
}

/* .values > div {
  font-size: 24px;
  font-weight: 400;
  color: hsla(0, 0%, 17%, 1);
  line-height: 30px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.values > div p {
  margin: 0;
} */

/*Value Section*/

.section-value {
  padding: 0px 100px;
  margin-top: 100px;
  display: grid;
  gap: 45px;
  place-items: center;
}

.section-value > label {
  font-family: "Inter";
  font-size: 48px;
  font-weight: 700;
  color: hsla(293, 78%, 31%, 1);
}

.section-value span {
  font-weight: 500;
}

.brand-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  place-items: center;
  gap: 100px;
}

.headove2,
.luround-image2,
.stunlearn2 {
  display: none;
}

.headove-container,
.luround-container,
.stunlearn-container {
  display: flex;
  flex-direction: column;
  padding: 8px 12px;
  position: absolute;
  margin-top: -239px;
  margin-left: -355px;
  background-color: white;
  height: 220px;
  box-shadow: 0px 5px 8px hsla(172, 52%, 39%, 0.08);
  width: 450px;
  gap: 32px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.headove-container h2,
.luround-container h2,
.stunlearn-container h2 {
  position: relative;
  font-weight: 600;
  font-family: "Source Sans 3";
  color: hsla(0, 0%, 17%, 1);
  /* border-bottom: 3px solid hsla(34, 94%, 54%, 1); */
  /* border-radius: 3px; */
  /* width: 80px; */
}

.headove-container h2::before,
.luround-container h2::before,
.stunlearn-container h2::before {
  position: absolute;
  content: "";
  width: 80px;
  height: 3px;
  background-color: hsla(34, 94%, 54%, 1);
  border-radius: 3px;
  top: 33px;
}

.headove-container p,
.luround-container p,
.stunlearn-container p {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  font-family: "Source Sans 3";

  color: hsla(0, 0%, 17%, 1);
}

.headove-container button,
.luround-container button,
.stunlearn-container button {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: white;
  border: 1px solid hsla(293, 78%, 31%, 1);
  border-radius: 8px;
  font-family: "Inter";
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
  width: 124px;
  color: hsla(293, 78%, 31%, 1);
}

.headove-container button svg,
.luround-container button svg,
.stunlearn-container button svg {
  width: 16px;
}

.luround-container {
  margin-left: 452px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

/*unloack Section*/

.mobileunlock {
  display: none;
}

.contact-us {
  font-size: 18px;
  font-weight: 400;
  width: 130px;
  height: 40px;
  padding: 8px 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(34, 94%, 54%, 1);
}

/*Image Section*/
.imagesection {
  width: 100%;
}

.imagesection img {
  width: 100%;
  margin-top: 100px;
  filter: brightness(50%);
}

.unlockimage2 {
  display: none;
}

.empower {
  position: relative;
  top: -330px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  color: white;
  font-size: 48px;
  font-weight: 700;
  font-family: "Inter";
}

/*Choose Section*/

.choosesection {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}
.mobilechoose {
  display: none;
}

.img-choose {
  display: grid;
  grid-template-columns: 1fr 6fr;
  padding: 0px 40px 0px 0px;
}

.chooselist2 {
  display: none;
}

.choose {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.choosecontainer > label {
  display: none;
}

.choose > label {
  font-size: 48px;
  font-weight: 700;
  color: hsla(293, 78%, 31%, 1);
  font-family: "Inter";
}

.choose span {
  font-weight: 500;
}

.choose > ul {
  font-size: 24px;
  font-weight: 400;
  color: hsla(0, 0%, 17%, 1);
  font-family: "Source Sans 3";
  line-height: 30px;
}

.choose > ul li span {
  font-weight: 600;
}

/*footer*/

.footer-uppist {
  background: linear-gradient(
    180deg,
    hsla(293, 71%, 22%, 1),
    hsla(304, 32%, 11%, 1)
  );
  padding: 60px 50px 60px 50px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.label-end {
  font-size: 14px;
  font-family: "Source Sans 3";
  font-weight: 400;
  color: white;
  text-align: center;
}

.hr-uppist {
  transform: none;
  width: -webkit-fill-available;
  border: 3px solid hsla(34, 94%, 54%, 1);
}

.footer-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loc-svg {
  display: flex;
  gap: 16px;
}

.location {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 8px;
}

.footer-img img {
  width: 146px;
}

.footer-img label {
  text-transform: uppercase;
}

.location label {
  font-size: 24px;
  font-weight: 600;
  font-family: "Inter";
}

.location span {
  font-size: 15px;
  font-family: "Source Sans 3";
  font-weight: 300;
}

.location span > label {
  font-weight: 400;
  font-size: 16px;
}

.monday {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.footer-end {
  display: flex;
  justify-content: space-between;
}

.footer-img {
  display: grid;
  align-items: baseline;
  grid-template-rows: 0fr;
  gap: 32px;
  font-size: 18px;
  font-weight: 400;
  color: white;
  width: 380px;
  font-family: "Source Sans 3";
}

.quicklinks {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: white;
}

.quicklinks label {
  font-size: 24px;
  font-weight: 500;
  font-family: "Source Sans 3";
}

.quicklinks a {
  color: white;
}

.quicklinks > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 18px;
  font-weight: 300;
  font-family: "Source Sans 3";
  color: white;
}

.quicklinks > ul li {
  cursor: pointer;
}

.stay-connected {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.stay-connected label {
  font-size: 24px;
  font-weight: 600;
  color: white;
  font-family: "Inter";
}

.subscribe {
  display: flex;
}

.subscribe input[type="email"] {
  width: 220px;
  height: 36px;
  border-radius: 0px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: 0;
}

.subscribe input[type="button"] {
  height: 56px;
  border-radius: 0px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: hsla(34, 94%, 54%, 1);
  color: white;
  border: 0;
}

.connect {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 18px;
  font-weight: 400;
  color: white;
  font-family: "Source Sans 3";
  align-items: center;
}

.connect svg {
  width: 36px;
}

.connect > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 32px;
}

.connect > ul li {
  cursor: pointer;
}

.footer > label {
  text-align: center;
  color: white;
  font-size: 14px;
  font-weight: 400;
  font-family: "Source Sans 3";
}

/*Service Section*/

.book {
  padding: 8px 12px;
  width: 183px;
  border: 0;
  font-family: "Source Sans 3";
  text-transform: capitalize;
}

/* .policy {
  background: url("../src/assets/background1.png") no-repeat;
  background-position-y: 700px;
} */

/*Contact Section*/

.contactsection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 100px;
  gap: 60px;
}

.contactsection img {
  width: 100%;
}

.locationimage2 {
  display: none;
}

.get-in-touch {
  display: flex;
  flex-direction: column;
  padding: 50px 0px 0px 100px;
  gap: 32px;
}

.touch-form > h2 {
  font-family: "Inter";
  font-size: 32px;
  font-weight: 700;
  color: hsla(0, 0%, 17%, 1);
  text-transform: uppercase;
  margin: 0;
}

.touch-form label {
  font-size: 24px;
  font-weight: 600;
  font-family: "Source Sans 3";
  color: hsla(293, 53%, 34%, 1);
}

.input-text {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.button-type {
  display: flex;
  justify-content: end;
}

.select-service,
input {
  height: 40px;
  padding: 10px 20px;
  border: 1px solid hsla(0, 0%, 75%, 1);
  border-radius: 8px;
  font-family: "Source Sans 3";
  font-size: 18px;
  font-weight: 400;
  color: hsla(0, 0%, 17%, 1);
}

svg {
  cursor: pointer;
}

.select,
.select-list {
  display: flex;
  align-items: center;
  gap: 4px;
}

.selected-list {
  font-weight: 400;
  color: hsla(0, 0%, 17%, 1);
  font-size: 20px;
}

textarea {
  height: 140px;
  padding: 10px 20px;
  border: 1px solid hsla(0, 0%, 75%, 1);
  border-radius: 8px;
  font-family: "Source Sans 3";
  font-size: 18px;
  font-weight: 400;
  color: hsla(0, 0%, 17%, 1);
}

textarea:focus {
  outline: none;
  cursor: pointer;
}

input:focus {
  outline: none;
}

.info-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 30px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.menu {
  list-style: none;
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  padding: 8px 0;
  display: grid;
  gap: 4px;
  position: absolute;
  transition: 0.4s;
  z-index: 1;
  color: hsla(0, 0%, 17%, 1);
  margin: 0;
  top: 325px;
  font-size: 20px;
  font-weight: 400;
}

.menu li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid hsla(0, 0%, 94%, 0.5);
}

.menu hr {
  margin: 0;
  border: 1px solid hsla(0, 0%, 94%, 0.5);
}

/*Headove*/
.headove {
  margin-top: 105px;
}

.headove-img img {
  width: -webkit-fill-available;
}
.mobile-headove {
  display: none;
}

.about-headove {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin-top: 120px;
  padding: 50px;
}

.about-headove div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 631px;
}

.about-headove p {
  margin: 0;
  font-size: 24px;
  color: hsla(0, 0%, 17%, 1);
  font-weight: 400;
  font-family: "Source Sans 3";
}

.text-about {
  margin: 0;
  font-size: 48px;
  color: hsla(293, 78%, 31%, 1);
  font-weight: 700;
  font-family: "Inter";
}

.text-about-mobile {
  display: none;
}

.text-about-desktop {
  background: linear-gradient(
    90deg,
    hsla(300, 100%, 25%, 1),
    hsla(267, 100%, 25%, 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}

.about-headove div button {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  gap: 8px;
  padding: 18px 56px;
  border-radius: 8px;
  border: 0;
  font-size: 18px;
  font-weight: 600;
  color: white;
  font-family: "Inter";
  background: linear-gradient(
    45deg,
    hsla(300, 100%, 25%, 1),
    hsla(267, 100%, 25%, 1)
  );
  width: 284px;
  box-shadow: 0px 5px 27px hsla(267, 100%, 25%, 1);
}

.core {
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.core-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
}

.brand-design,
.brand-marketing {
  display: flex;
  gap: 32px;
  align-items: center;
}

.brand-design div,
.brand-marketing div {
  width: 505px;
  line-height: 30px;
}

.brand-design hr,
.brand-marketing hr {
  transform: none;
  margin: 0;
  width: 80px;
  border-bottom: 3px solid hsla(34, 94%, 54%, 1);
  border-radius: 3px;
}

.brand-design h3,
.brand-marketing h3 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  font-family: "Source Sans 3";
  color: hsla(0, 0%, 17%, 1);
}

.brand-design p,
.brand-marketing p {
  font-size: 24px;
  font-weight: 400;
  color: hsla(0, 0%, 17%, 1);
  font-family: "Source Sans 3";
}

.brand-design ul,
.brand-marketing ul {
  margin: 0;
}

.clients {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  margin-top: 100px;
}

.clients > div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 32px;
  padding: 100px;
}

.svgs {
  box-shadow: 0px 5px 7px hsla(0, 0%, 0%, 0.04);
  width: 345px;
}

.svgs div {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 24px 48px 24px;
}

.svgs div span {
  display: flex;
  align-items: center;
  gap: 4px;
  color: hsla(293, 78%, 31%, 1);
  font-family: "Source Sans 3";
  font-size: 14px;
  font-weight: 600;
}

.svgs div span p {
  margin: 0;
  color: hsla(0, 0%, 17%, 1);
  font-weight: 400;
}

.clients svg,
.clients img {
  width: 250px;
  margin: 0 auto;
  display: flex;
  padding: 24px;
}

.clients svg {
  height: 74px;
}

/*StunLearn Section*/

.stunlearn-section {
  margin-top: 100px;
}

.about-mission {
  display: flex;
  flex-direction: column;
  gap: 158px;
}

.stun-img {
  width: -webkit-fill-available;
}

.stun-img2,
.aboutus-image2,
.mission-image2 {
  display: none;
}

.stun-text {
  position: relative;
  top: -287px;
  margin-top: -221px;
  padding: 0px 40px;
  font-family: "Inter";
}

.img-text h3 {
  margin: 0;
  color: hsla(0, 0%, 17%, 1);
  font-weight: 700;
  font-size: 60px;
}

.img-text h3 span {
  font-size: 60px;
  font-weight: 900;
  color: hsla(34, 94%, 54%, 1) !important;
  background: none !important;
}

.about-stunlearn {
  padding: 0px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  place-items: center;
}

.stun-about,
.stun-mission {
  display: flex;
  flex-direction: column;
  gap: 145px;
  font-family: "Inter";
  padding: 100px;
  align-items: center;
}

.img-div {
  display: flex;
  align-items: center;
  gap: 110px;
}

.img-div:nth-child(odd) {
  flex-direction: row-reverse;
}

.text-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text-div h2 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 48px;
  color: hsla(293, 78%, 31%, 1);
  margin: 0;
  font-weight: 500;
}

.text-div h2 span {
  font-weight: 700;
}

.stun-about p,
.text-div > span {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  font-family: "Source Sans 3";
  color: hsla(0, 0%, 17%, 1);
}

.text-div ul {
  margin: 5px;
  font-weight: 400;

  font-size: 24px;
  font-weight: 400;
  font-family: "Source Sans 3";
  color: hsla(0, 0%, 17%, 1);
}

.text-div ul li::marker {
  color: hsla(34, 94%, 54%, 1);
}

.teach-mode {
  display: flex;
  flex-direction: column;
  font-weight: 400;
}

.teach-mode label {
  font-size: 24px;
  font-weight: 600;
  font-family: "Source Sans 3";
  color: hsla(0, 0%, 17%, 1);
}

.teach-mode ul {
  font-size: 24px;
  font-weight: 400;
  font-family: "Source Sans 3";
  color: hsla(0, 0%, 17%, 1);
}

@media only screen and (max-width: 768px) {
  /*Nav bar section*/

  .nav {
    padding: 0px 50px;
  }

  .squarelab {
    width: 64px;
    height: 24px;
  }
  .side-bar {
    background-color: white;
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    top: 0;
    right: -600px;
    overflow-y: auto;
    transform: translateX(600px);
    opacity: 0;
    transition: opacity 0.9s ease-in-out;
    background-size: cover;
  }

  .side-bar::-webkit-scrollbar {
    display: none;
  }
  .side-bar.active {
    transform: translateX(0);
    right: 0;
    opacity: 1;
    transition: opacity 0.9s ease-in-out;
  }

  .side-bar.fade-out {
    transform: translateX(600px);
    opacity: 0;
    transition: opacity 0.7s ease-in-out;
  }

  .image-close {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 25px 0px 25px;
    background-color: hsla(300, 4%, 95%, 1);
  }

  .image-close > img {
    width: 64px;
    height: 24px;
  }

  .list-menu {
    display: block;
  }

  .list,
  .company-menu,
  .list-contact {
    display: none;
  }

  .sidebar-menu {
    list-style: none;
    margin-top: 30px;
    padding: 0;
    margin: 0;
  }

  .sidebar-list {
    display: flex;
    align-items: center;
    height: 60px;
    justify-content: space-between;
    border-bottom: 2px solid hsla(33, 93%, 94%, 1);
  }

  .sidebar-contact {
    margin-top: 125px;
    width: 150px;
    text-align: center;
    background-color: hsla(34, 94%, 54%, 1);
    font-size: 16px;
    margin-left: 30px;
  }

  .dropdown-company {
    display: none;
  }

  .dropdown-company-mobile {
    display: grid;
    list-style: none;
    gap: 8px;
    padding: 0;
    font-size: 14px;
    font-weight: 500;
    color: rgba(29, 46, 46, 0.8);
    padding: 10px;
    /* border-bottom: 2px solid hsla(33, 93%, 94%, 1); */
  }

  .dropdown-company-mobile li {
    padding: 8px;
  }

  /*About Section*/

  .background1 {
    background: url("../src/assets/desktop/circle3.png") no-repeat;
  }
  .aboutsection {
    background: url("../src/assets/desktop/circle4.png") no-repeat;
    background-position-x: right;
    background-position-y: 520px;
    display: grid;
    margin-top: 125px;
  }
  .hero-section {
    background-position-y: -200px;
    grid-template-columns: 1fr;
    padding: 0;
  }

  .img-text {
    text-align: center;
    width: 300px;
    gap: 24px;
    align-items: center;
  }

  .hero-section img {
    width: 310px;
  }

  .img-text h2 {
    font-size: 24px;
  }

  .img-text p {
    font-size: 16px;
    width: 271px;
  }

  .img-text span,
  .empower span {
    width: 142px;
    font-size: 16px;
  }

  .img-text span svg {
    width: 21px;
  }

  .about-detail {
    grid-template-columns: 1fr;
    place-items: center;
    text-align: center;
    padding: 50px 25px;
  }

  .mission,
  .vision {
    gap: 5px;
  }

  .mission span,
  .vision span {
    font-size: 20px;
  }

  .mission p,
  .vision p {
    font-size: 16px;
  }

  .aboutus img {
    width: 300px;
  }
  .brand-container {
    gap: 300px;
  }
  .headove1,
  .luround-image1,
  .stunlearn1 {
    display: none;
  }
  .headove2,
  .luround-image2,
  .stunlearn2 {
    display: block;
  }

  /* .brand-container img {
    width: 312px;
  } */

  .headove-container,
  .luround-container,
  .stunlearn-container {
    margin-top: -6px;
    margin-left: -1px;
    width: 290px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 8px;
  }

  .headove-container button,
  .luround-container button,
  .stunlearn-container button {
    font-size: 12px;
  }

  .headove-container p,
  .luround-container p,
  .stunlearn-container p {
    font-size: 16px;
  }

  .luround-container {
    border-top-left-radius: 0px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 8px;
  }

  /*Value Section*/
  .section-value {
    margin-top: 60px;
    gap: 20px;
    padding: 0;
  }
  .section-value > label {
    display: block;
    font-size: 20px;
    font-weight: 700;

    text-align: center;
  }
  .valuesection {
    grid-template-columns: 1fr;
    gap: 24px;
  }

  .values > label {
    display: none;
  }

  .values > div,
  .core-value {
    font-size: 16px;
    gap: 10px;
  }

  .value {
    display: none;
  }
  .value2 {
    display: block;
  }

  /*Unlock Section*/

  .unlock {
    margin-top: 60px;
  }

  .unlocksection {
    grid-template-columns: 1fr;
    padding: 0px;
    place-items: center;

    justify-content: center;
  }

  .unlock-team {
    font-size: 16px;
    text-align: center;
    width: 340px;
    align-items: center;
    gap: 8px;
  }

  .mobileunlock {
    display: block;
    grid-column: 1;
    grid-row: 1;
  }

  .desktopunlock {
    display: none;
  }

  .unlockimage {
    display: none;
  }
  .unlockimage2 {
    display: block;
  }

  .imagesection img {
    margin-top: 60px;
  }
  .contact-us {
    font-size: 16px;
    width: 183px;
    font-family: "Source Sans 3";
    padding: 0;
  }

  .empower {
    font-size: 17px;
    top: -170px;
    gap: 24px;
  }

  /*choose Section*/

  .choosecontainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: -25px;
  }

  .mobilechoose {
    display: block;
  }

  .chooselist {
    display: none;
  }

  .chooselist2 {
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: hsla(0, 0%, 17%, 1);
    font-family: "Source Sans 3";
    margin: 0;
    padding: 0px 30px 0px 40px;
  }

  .chooselist2 span {
    font-weight: 600;
  }

  .desktopchoose {
    width: 131px;
  }

  .choosesection {
    gap: 0;
    grid-template-columns: 1fr;
  }

  .choosecontainer > label {
    display: block;
    font-size: 20px;
    color: hsla(293, 78%, 31%, 1);
    font-weight: 700;
    text-align: center;
  }

  .choose > ul {
    font-size: 16px;
    margin: 0;
    padding: 0;
  }

  .choose > label {
    display: none;
  }

  /*Footer section*/

  .footer {
    padding: 32px 24px;
    gap: 32px;
    margin-top: 10px;
  }

  .monday {
    align-items: baseline;
  }
  .footer-details {
    flex-direction: column;
    gap: 24px;
    align-items: baseline;
  }

  .stay-connected label {
    font-size: 16px;
  }

  .subscribe input[type="button"] {
    height: 46px;
  }

  .subscribe input[type="email"] {
    height: 30px;
    width: 165px;
    padding: 8px;
  }

  .footer-end {
    flex-direction: column;
    gap: 24px;
  }

  .location label {
    font-size: 16px;
  }

  .location span {
    font-size: 14px;
  }

  hr {
    border: 0.75px solid hsla(0, 0%, 100%, 1);
  }

  .footer-img {
    font-size: 14px;
    width: 280px;
    gap: 10px;
  }

  .footer-img img {
    width: 87px;
  }

  .footer > label {
    font-size: 8px;
    text-align: center;
  }

  .quicklinks {
    gap: 8px;
  }

  .quicklinks label {
    font-size: 14px;
    font-weight: 700;
  }

  .quicklinks > ul {
    font-size: 14px;
  }

  .connect {
    font-size: 12px;
    gap: 10px;
  }

  .connect > ul {
    gap: 12px;
  }

  .connect svg {
    width: 16px;
  }

  .book {
    font-size: 16px;
    padding: 8px 12px;
    width: 183px;
    border: 0;
  }

  .stunlearn-unlock {
    margin-top: 270px;
  }

  /*Contact Section*/
  .touch-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .get-in-touch {
    padding: 30px 20px;
    background-position-y: -15px;
    background-position-x: 275px;
  }

  .touch-form h2 {
    font-size: 20px;
  }

  .touch-form label {
    font-size: 16px;
  }

  .selected-list {
    font-size: 18px;
  }

  .info-container {
    display: none;
  }

  .menu {
    top: 230px;
    font-size: 18px;
  }

  input,
  textarea {
    font-size: 16px;
  }

  .contactsection {
    grid-template-columns: 1fr;
    margin-top: 65px;
  }
  /*Headove Section*/

  .desktop-headove {
    display: none;
  }
  .mobile-headove {
    display: block;
  }

  .about-headove {
    margin-top: 10px;
    gap: 10px;
    flex-direction: column;
    padding: 0;
  }

  .uppist-logo,
  .image-luround {
    width: 68px;
  }

  .core {
    margin-top: 45px;
    gap: 25px;
  }

  .about-headove div {
    width: 314px;
    align-items: center;
  }

  .about-headove div button {
    font-size: 16px;
    padding: 8px 18px;
    width: 195px;
    justify-content: center;
  }
  .about-headove img {
    width: 314px;
    grid-row: 2;
  }

  .about-headove p {
    font-size: 16px;
    text-align: center;
  }

  .brand-design {
    flex-direction: column;
  }

  .brand-marketing {
    flex-direction: column-reverse;
  }

  .brand-design img,
  .brand-marketing img {
    width: 314px;
  }

  .brand-design h3,
  .brand-marketing h3,
  .brand-design p,
  .brand-marketing p {
    font-size: 16px;
  }

  .brand-design div,
  .brand-marketing div {
    width: 314px;
  }

  .text-about-mobile {
    display: block;
    font-size: 32px;
    background: linear-gradient(
      90deg,
      hsla(300, 100%, 25%, 1),
      hsla(267, 100%, 25%, 1)
    );
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
  }

  .text-about-mobile label {
    font-weight: 500;
  }

  .headove {
    margin-top: 65px;
  }

  .text-about {
    font-size: 20px;
  }

  .clients {
    margin-top: 50px;
  }

  .clients > div {
    display: grid;
    grid-template-columns: 1fr;
    gap: 51px;
    padding: 0;
  }

  .uppist {
    width: 68px;
  }
  .svgs {
    display: flex;
    flex-direction: column;
    width: 312px;
  }
  .svgs hr {
    width: -webkit-fill-available;
    border: 1px solid hsla(0, 11%, 91%, 1);
  }

  .clients div img {
    width: 142px;
  }

  .text-about-desktop {
    display: none;
  }

  .brand-design hr,
  .brand-marketing hr {
    transform: none;
    width: 48px;
  }

  /*StunLearn*/

  .stun-text {
    top: -455px;
    padding: 0px 32px;
    align-items: center;
  }

  .stun-img,
  .aboutus-image1,
  .mission-image1 {
    display: none;
  }

  .stun-img2,
  .aboutus-image2,
  .mission-image2 {
    display: block;
  }

  .stun-img2 {
    margin-top: 286px;
  }

  .stun-text > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .img-text h3 {
    font-size: 32px;
  }

  .img-text h3 span {
    font-size: 32px;
  }

  .stun-text p {
    margin: 0;
  }

  .img-div {
    flex-direction: column-reverse;
    gap: 20px;
    align-items: baseline;
  }

  .img-div:nth-child(odd) {
    flex-direction: column-reverse;
    gap: 20px;
  }

  .img-div img {
    width: 312px;
  }

  .text-div ul {
    padding: 0 24px;
    margin: 0;
  }

  .text-div li {
    font-size: 16px;
  }

  .about-stunlearn,
  .mission-stunlearn {
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 0;
  }

  .stun-about {
    gap: 0;
  }
  .stun-about p,
  .about-mission p,
  .teach-mode ul,
  .teach-mode label {
    font-size: 16px;
    width: 300px;
    margin: 0;
  }
  .about-mission {
    margin-top: 110px;
    margin-bottom: -180px;
    gap: 100px;
  }
  .teach-mode {
    gap: 20px;
  }

  .aboutus {
    margin-top: 25px;
    grid-row: 1;
  }

  .stun-mission {
    gap: 70px;
    padding: 50px;
  }

  .stun-about h2,
  .about-mission h2 {
    text-align: center;
    position: relative;
    top: -260px;
    font-size: 20px;
  }

  .stun-mission h2 {
    text-align: center;
    font-size: 20px;
    gap: 4px;
  }

  .text-div > span {
    font-size: 16px;
  }
  .svgs div span {
    font-size: 10px;
  }
  .img-choose {
    grid-template-columns: 1fr 2fr;
    padding: 0 10px 0 0;
    gap: 24px;
  }

  .clients svg {
    margin: 0 auto;
  }
  .testimonials {
    font-size: 20px;
    gap: 10px;
    /* margin-bottom: -230px; */
  }

  .slick-track {
    gap: 56px;
  }

  .businessowner {
    width: 313px !important;
  }

  .dataname {
    font-size: 10px;
  }

  .datareview {
    font-size: 16px;
  }

  .testimony {
    font-size: 8px;
  }

  .name {
    width: 226px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1260px) {
  .valuesection {
    grid-template-columns: 1fr;
  }

  .footer-details,
  .footer-end {
    gap: 100px;
  }

  .location {
    width: 150px;
    align-items: baseline;
  }
  .monday {
    align-items: baseline;
  }

  .quicklinks {
    width: 395px;
  }

  .connect svg {
    width: 30px;
  }
  /* .desktopchoose {
    width: 360px;
  } */

  .choose label {
    font-size: 30px;
  }

  .empower {
    top: -270px;
  }

  .unlocksection {
    padding: 0px 50px;
    gap: 20px;
  }

  .img-text {
    margin-top: -260px;
    margin-left: 20px;
    gap: 30px;
  }

  .img-text h2 {
    padding: 20px;
    font-size: 30px;
  }

  .nav {
    padding: 0px 50px;
  }

  .aboutsection {
    margin-top: 375px;
  }

  .service-grid-container {
    grid-template-columns: 1fr;
    place-items: center;
  }

  .serviceimage {
    grid-column: 1;
    grid-row: 1;
  }

  .service-book {
    padding: 0px 50px;
    align-items: center;
  }

  .touch-form h2 {
    font-size: 30px;
  }

  .touch-form label {
    font-size: 20px;
  }
}
